* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 110vh;
}

#header {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 40px;
    font-family: 'Press Start 2P', monospace;
    color: #0f8;
    text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0, 0 0 80px #0f0;
    text-align: center;
    padding: 20px 0;
    background: #000;
    border-bottom: 2px solid #0f8;
    box-shadow: 0 0 10px #0f0;
}

#container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: hidden;
    position: relative;
    gap: 30px;
}

#grid-box {
    box-sizing: border-box;
    padding: 60px;
    height: 500px;
    width: 500px;
    display: flex;
    border-radius: 10px;
    background-color: rgb(61, 58, 61);
}

#grids {
    display: flex;
    flex: 1;
    border: 1px solid rgb(3, 201, 241);
    background-color: white;
    visibility: hidden;
    border-radius: 10px;
}

#create-grid,
#delete-grid,
#remove-grid-color {
    font-family: 'Press Start 2P', monospace;
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px #666, 0 0 25px #0f0, 0 0 5px darkred;
    transition: all 0.3s;
}

#create-grid:hover,
#delete-grid:hover,
#remove-grid-color:hover {
    background-color: #CC0000;
    box-shadow: 0 5px #333, 0 0 35px #0f0, 0 0 10px darkred;
    transform: translateY(-2px);
}

#create-grid:active,
#delete-grid:active,
#remove-grid-color:active {
    transform: translateY(4px);
    box-shadow: 0 1px #666, 0 0 15px #0f0, 0 0 5px darkred;
}

#button-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#color-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

#color-picker {
    margin-right: 10px;
    border: 1px solid #ccc;
    height: 30px;
    width: 40px;
    cursor: pointer;
}

#text {
    color: #333;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

#myTextBox {
    width: 300px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Press Start 2P', monospace;
    color: #0f8;
    background-color: #000;
    border: 2px solid #0f8;
    border-radius: 5px;
    box-shadow: 0 0 10px #0f0, 0 0 20px #0f0;
    outline: none;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#myTextBox:hover,
#myTextBox:focus {
    border-color: #ff0;
    box-shadow: 0 0 15px #ff0, 0 0 30px #ff0;
}

#textbox-createGrid {
    display: flex;
    gap: 20px;
}